/*Header Secondary
-------------------------------*/
header.secondary{
	background: #ACF7C1;
	background: linear-gradient(#F4F1BB 0%, #ACF7C1 75%);
	padding: 1px 0px 12px;
	text-align: center;

}
header.secondary h1{
	text-align: center;
	color: #3C787E;
	font-family: 'Lobster', cursive;
	font-size: 70px;
	max-width: 100%
	margin: 12px 0;
}
/*Navigation Secondary
-------------------------------*/
nav.secondary a:link{
	display: inline-block;
	/*font-weight: bold;*/		/*uses resume-styles*/
	/*text-decoration: none;*/	/*uses resume-styles*/
	color: #F4F1BB;
	background: #8AAA79;
	padding: 8px;
	border-radius: 4px;
}
nav.secondary a:hover{
	color: #8AAA79;
	background: #F4F1BB;
}
/*Main Sections
-------------------------------*/
.half-page{
	display: inline-block;
	width: 48%;
	margin-right: 2%;
	float: left;
}
.whole-page{
	clear: both;
}

section h2{
	background: #F7D4BC;
}
/*Footer Secondary
-------------------------------*/
footer.secondary{
	background: #ACF7C1;
	background: linear-gradient(#ACF7C1 40%, #5FB7BF 100%);
	display: grid;
	grid-template-columns: 20% auto;
	/*overflow: hidden;*/
}
footer.secondary img{
	grid-column-start: 1;
	width: 100%;
	align-self: center;
	/*display: inline-block;
	float: left;
	width: 18%;
	margin: 2% auto;
	outline: 1px dashed;*/
}
footer.secondary p{
	grid-column-start: 2;
	align-self: center;
	/*display: inline-block;
	width: 78%;
	margin: 2% auto;
	vertical-align: middle;*/
}