/* GLobal Styles
-----------------------------------*/
body{
	color: #343434;/*dark grey - almost black*/
	background: #FFF0F0;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}
img{
	display: block;
	width: 300px;
	margin: 0 auto;
	border-radius: 4px;
}
a:link { 
	font-weight: bold;
	text-decoration: none;
}
a:visited { 
	/*text-decoration: none;*/	/*inherit from a:link*/
	color: purple;
}
h2{
	font-family: 'Russo One', sans-serif;
	font-size: calc(20px + 0.8vw);
}
h1, h2, h3{
	margin-top: 5px;	/*usually section headers, so margin/padding is handled by the section elements*/
}
h4, h5, h6{
	margin-bottom: 5px;	/*usually list headers so...*/
}
h4+ul{
	margin-top: 5px;	/*getting them closer to the headers*/
}
.button{
	padding: 8px;
	border-radius: 4px;
}

.content-wrapping{		/*keeps the content in the middle of the page*/
	width: 58%;
	min-width: 350px;
	margin: 0 auto;
}
#swag{
	/*wow! icon*/
	width: 20%;
	max-width: 200px;
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 2;
}
@media only screen and (max-width: 450px){
	#swag{
		/*moving the wow swag icon in case of small screens*/
		display: block;
		position: static;
		width: 58%;
		margin: 0 auto;
	}
}

/*PersonalInfo
-----------------------------------*/
header#intro{
	/*Introduction header*/
	background: #F4F1BB;
	padding: 5px 0;
	margin: 0 auto;
}
#name{
	color: #306B34;
	font-family: 'Lobster', cursive;
	font-size: calc(25px + 4.5vw);
	text-align: center;
}
#headline{
	color: #FA8334;
	font-family: 'Krona One', sans-serif;
	text-align: center;
}
#name+h3{
	visibility: hidden;
}
/*Navigation
-----------------------------------*/
nav:not(.secondary) {
	margin: 0px auto;
	padding: 5px 0;
	background: rgba(182, 115, 48, .85);
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	/*Sticky Navigation*/
	position: static;
	position: sticky;
	top: 0;
	z-index: 1;
}
@media only screen and (max-width: 450px){
	nav:not(.secondary){
		font-size: 65%;
		text-align: left;
		/*position: static;*/	/*unnecessary*/
	}
}
nav .button{
	display: inline-block;
	margin: 0 2px;
	color: #F4F1BB;
}
nav .button#covid-19{
	/*to be removed once the crisis is over*/
	background: #C1292E;
}
nav .button:hover{
	background: rgba(152, 85, 18, .70);
}
nav .button#covid-19:hover{
	/*to be removed once the crisis is over*/
	background: rgba(163, 11, 16, .70);
}
/*Featured Projects
-----------------------------------*/
#projects{
	background: #D19760;
	background-image: linear-gradient(to bottom, #f4f1bb, #eadda4, #e1c98e, #d9b579, #d0a167, #d09e65, #d19a62, #d19760, #daa46b, #e4b176, #edbf82, #f6cc8e);
	padding: 5px 0 0;
	margin: 0 auto;
}
#projects section{
	padding: 5px 0 15px;
	margin: 0 auto;
}
#projects hr{
	border-bottom-color: #911715;
	border-right-color: #911715;
}

@media only screen and (min-width: 900px){
	#projects img{
		float: left;
		margin: auto 25px 8px auto;
	}
}

#projects h4{
	clear: both;
}
#projects a{
	color: #911715;	/*for the linkedIn links*/
}
#projects a:hover{
	color: #911715ff;
	background: rgba(244, 241, 187, 50);
	border-radius: 4px;
}

#projects .button{
	color: #911715ff;
	background: #FA8334;
}
#projects .button:hover { 
	text-decoration: none;
	background: #F4F1BB;
}
/*Work Experience
-----------------------------------*/
#work-experience{
	background: #F6CC8E;
	padding: 5px 0 15px;
	margin: 5px 0;
}
#work-experience #company{
	display: grid;
	grid-template-columns: 50px auto;
}
#work-experience #company img{
	width: 50px;
	grid-column-start: 1;
}
#work-experience #company p{
	grid-column-start: 2;
	align-self: center;
	margin: 0 10px;
}
#work-experience .button{
	color: #911715ff;
	background: #FA8334;
}
#work-experience .button:hover { 
	/*text-decoration: none;*/	/*not required - global style*/
	background: #F4F1BB;
}

/*Education
-----------------------------------*/
#education{
	padding: 5px 0;
	margin: 5px 0;
}
#education section{
	position: relative;
}
#education section .grades{
	font-weight: bold;
}
#education section img{	/*logo images*/
	width: 100px;
	position: static;
	position: absolute;
	right: 5px;
	top: 5px;
}
#education hr{
	border-bottom-color: #F6CC8E;
	border-right-color: #F6CC8E;
}
@media only screen and (max-width: 1400px){
	#education section p:first-of-type{
		/*so as to wrap text before overlapping the logo*/
		margin-right: 110px;
	}
}
@media only screen and (max-width: 850px){
	#education section img{
		/*so as to move the logo down before overlapping the school name*/
		top: 25px;
	}
}

/*Certifications
-----------------------------------*/
#certifications {
	background: #68D67A;
	padding: 5px 0;
	margin: 5px 0;
	overflow: hidden;
}
#certifications .certificate{
	display: inline-block;
	position: relative;
	width: 45%;
	min-width: 265px;
	height: 217px;
	background-color: #FFF0F0;
	/*giving the text card look*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	float: left;
	margin: 5px 1%;
	padding: 1%;
}
@media only screen and (max-width: 1010px){
	#certifications .certificate{
		width: 75%;
	}
}
#certifications .certificate .button{
	/*for the credential url*/
	color:  #fffdd0;
	background: #0d1f2d;
	position: absolute;
	left: 5px;
	bottom: 5px;
}
#certifications .certificate img{
	/*issuing organization logo*/
	width: 50px;
	position: absolute;
	right: 5px;
	bottom: 5px;
}
#certifications .button:hover, #certifications .button:focus { 
	color:  #0d1f2d;
	/*text-decoration: none;*/	/*global style*/
	background: #fffdd0;
}

/*Skills
-----------------------------------*/
#Skills{
	clear: both;
	padding: 5px 0;
	margin: 5px 0;
}
.column{	/*also used in hobbies*/
	display: inline-block;
	float: left;
	width: 30%;
	min-width: 220px;
	padding: auto 1%;
	margin-right: 1%;
}
@media only screen and (max-width: 1400px){
	.column{
		width: 48%;
	}
}
@media only screen and (max-width: 850px){
	.column{
		width: auto;
		padding: 0;
	}
}

/*Hobbies
-----------------------------------*/
#hobbies{
	clear: both;
	background: #68D67A;
	background: linear-gradient(#68D67A 40%, #5FB7BF 100%);
	overflow: hidden;
	padding: 5px 0;
	margin: 5px 0;
}
/*Contact Footer
-----------------------------------*/
footer#contact{
	clear: both;
	background: #5FB7BF;
	padding: 5px 0;
	margin: 5px 0 0; /*footer flush with the bottom of screen*/
}
footer#contact a:hover { 
	/*text-decoration: none;*/	/*global style*/
	background: #F4F1BB;
	border-radius: 4px;
}
