/* GLobal Styles
-----------------------------------*/
body{
	color: #343434;/*dark grey - almost black*/
	background: #FFF0F0;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
img{
	width: 300px;
	border-radius: 4px;
}
a:link { 
	font-weight: bold;
	text-decoration: none;
}
a:visited { 
	/*text-decoration: none;*/	/*inherit from a:link*/
	color: purple;
}
.button{
	padding: 8px;
	border-radius: 4px;
}

.content-wrapping{
	width: 58%;
	min-width: 350px;
	margin: 0 auto;
}
#swag{
	/*wow! icon*/
	display: inline-block;
	outline: 1px dashed;
	margin: 0 25%;
	width: 20%;
	max-width: 200px;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 2;
}
@media only screen and (max-width: 450px){
	#swag{
		/*hiding the wow swag icon in case of small screens*/
		position: static;
		width: 100%;
	}
}

/*PersonalInfo
-----------------------------------*/
header#intro{
	background: #F4F1BB;
	padding: 2px;
	margin: 0 auto;
}
#name{
	color: #306B34;
	font-family: 'Lobster', cursive;
	font-size: 70px;
	margin: 0;
	text-align: center;
}
#headline{
	color: #FA8334;
	font-family: 'Krona One', sans-serif;
	text-align: center;
}
/*Navigation
-----------------------------------*/
nav:not(.secondary) {
	margin: 5px auto;
	text-align: center;
	position: static;
	position: sticky;
	top: 0;
	z-index: 1;
}
@media only screen and (max-width: 450px){
	nav:not(.secondary){
		position: static;
	}
}
nav .button{
	display: inline-block;
	margin: 2px 2px;
	background: #add8e6;
}
nav .button#covid-19{
	/*to be removed once the crisis is over*/
	color: #EAAC8B;
	background: #C1292E;
}
nav .button:hover{
	background: #d4ebf2;
}
nav .button#covid-19:hover{
	/*to be removed once the crisis is over*/
	background: rgba(193, 41, 46, .80);
}
/*Featured Projects
-----------------------------------*/
#projects{
	background: #D19760;
	background-image: linear-gradient(to bottom, #f4f1bb, #eadda4, #e1c98e, #d9b579, #d0a167, #d09e65, #d19a62, #d19760, #daa46b, #e4b176, #edbf82, #f6cc8e);
	padding: 10px 0;
	margin: 0 auto;
}
#projects img{
	float: left;
	margin-right: 25px;
	margin-bottom: 8px;
}

#projects h4{
	clear: both;
}
#projects a{
	color: #911715ff;
}
#projects a:hover{
	color: #911715ff;
	background: rgba(244, 241, 187, 50);
	border-radius: 4px;
}

#projects .button{
	color: #911715ff;
	background: #FA8334;
}
#projects .button:hover { 
	text-decoration: none;
	background: #F4F1BB;
}
/*Work Experience
-----------------------------------*/
#work-experience{
	background: #F6CC8E;
	padding-bottom: 12px;
}
#work-experience .button{
	color: #911715ff;
	background: #FA8334;
}
#work-experience .button:hover { 
	text-decoration: none;
	background: #F4F1BB;
}

/*Education
-----------------------------------*/
#education .grades{
	font-weight: bold;
}
/*wasn't liking outline thing*/
/*#education a:hover{ 
	outline: 2px solid;
	outline-style: ;
}*/
/*Certifications
-----------------------------------*/
#certifications {
	background: #68d67aff;
	padding-bottom: 8px;
	overflow: hidden;
}
#certifications .certificate{
	display: inline-block;
	width: 48%;
	min-width: 260px;
	height: 200px;
	float: left;
	margin: 5px 1%;
}
#certifications .button{
	color:  #fffdd0;
	background: #0d1f2d;
}
#certifications .button:hover, #certifications .button:focus { 
	color:  #0d1f2d;
	/*text-decoration: none;*/	/*global style*/
	background: #fffdd0;
}

/*Skills
-----------------------------------*/
#Skills{
	clear: both;
}
.column{
	display: inline-block;
	float: left;
	width: 30%;
	min-width: 220px;
	margin-right: 3%;
}/*also used in hobbies*/

/*Hobbies
-----------------------------------*/
#hobbies{
	clear: both;
	background: #68D67A;
	background: linear-gradient(#68D67A 40%, #5FB7BF 100%);
	overflow: hidden;
	padding: 5px;
}
#hobbies h2{
	margin-top: 5px;
}
/*Contact Footer
-----------------------------------*/
footer#contact{
	clear: both;
	background: #5FB7BF;
}
footer#contact a:hover { 
	/*text-decoration: none;*/	/*global style*/
	background: #F4F1BB;
	border-radius: 4px;
}
