/* GLobal Styles
-----------------------------------*/
body{
	color: #343434;/*dark grey - almost black*/
	padding: 0;
	margin: 0 0;
	font-family: 'Open Sans', sans-serif;
}
img{
	width: 300px;
}
a:link { 
	font-weight: bold;
	text-decoration: none;
}
a:visited { 
	text-decoration: none;
	color: purple;
}
.button{
	padding: 8px;
	border-radius: 4px;
}
.content-wrapping{
	width: 58%;
	margin: 0 auto;
}

/*PersonalInfo
-----------------------------------*/
header{
	background: #F4F1BB;
	padding: 8px;
	margin: 0 auto;
}
#name{
	color: #306b34;
	font-family: 'Lobster', cursive;
	font-size: 70px;
	margin: 0;
}
#headline{
	color: #FA8334;
	font-family: 'Krona One', sans-serif;
}
/*Navigation
-----------------------------------*/
nav .button{
	display: inline-block;
	background: #add8e6;
}
nav .button:hover{
	display: inline-block;
	background: #d4ebf2;
}
/*Featured Projects
-----------------------------------*/
.projects{
	background: #c48652ff;
	padding-bottom: 10px;
	margin: 0 auto;
}
.projects img{
	float: left;
	border-radius: 4px;
	margin-right: 30px;
	margin-bottom: 10px;
}

.projects h4{
	clear: both;
}
.projects a{
	color: #911715ff;
}
.projects a:hover{
	color: #911715ff;
	background: rgba(244, 241, 187, 50);
	border-radius: 3px;
}

.projects .button{
	color: #911715ff;
	background: #FA8334;
}
.projects .button:hover { 
	text-decoration: none;
	background: #F4F1BB;
}
/*Work Experience
-----------------------------------*/
.work-experience{
	background: #F6CC8E;
	padding-bottom: 10px;
}
.work-experience .button{
	color: #911715ff;
	background: #FA8334;
}
.work-experience .button:hover { 
	text-decoration: none;
	background: #F4F1BB;
}

/*Education
-----------------------------------*/
.education .grades{
	font-weight: bold;
}
.education a:hover{
	outline: 2px solid;
}
/*Certifications
-----------------------------------*/
.certifications {
	background: #68d67aff;
	padding-bottom: 10px;
}
.certifications .button{
	color:  #fffdd0;
	background: #0d1f2d;
}
.certifications .button:hover { 
	color:  #0d1f2d;
	text-decoration: none;
	background: #fffdd0;
}

/*Skills
-----------------------------------*/
.column{
	float: left;
	width: 33%
}/*also used in hobbies*/

/*Hobbies
-----------------------------------*/
.hobbies{
	clear: both;
	background: #68d67aff;
	overflow: hidden;
	padding: 5px;
}
.hobbies h2{
	margin-top: 5px;
}
/*Contact Footer
-----------------------------------*/
footer{
	clear: both;
	background: #5FB7BF;
}
footer a:hover { 
	text-decoration: none;
	background: #F4F1BB;
	border-radius: 4px;
}